In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [17]:
df = pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
mail_data=df.where(pd.notnull(df))

In [25]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
mail_data.shape

(5572, 2)

In [107]:
mail_data.loc[mail_data['Category']== 'spam' 'Category',] ==0
mail_data.loc[mail_data['Category']== 'ham' 'Category',]  ==1

Empty DataFrame
Columns: [Category, Message]
Index: []

In [20]:
X=mail_data['Message']
y=mail_data['Category']

In [ ]:
X

In [22]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=9)

In [68]:
print(X.shape)
print(X_train.shape)

(5572,)
(3900,)

In [52]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [53]:
print(X_train)

2228                     Oh k.k..where did you take test?
3296    Dunno lei ü all decide lor. How abt leona? Oop...
2426    Hey!!! I almost forgot ... Happy B-day babe ! ...
3300    Honeybee Said: *I'm d Sweetest in d World* God...
3939    WHEN THE FIRST STRIKE IS A RED ONE. THE BIRD +...
                              ...
5014    Uncle G, just checking up on you. Do have a re...
1787    Do you know why god created gap between your f...
501     Fighting with the world is easy, u either win ...
4444    You know my old Dom I told you about yesterday...
382     Yeah sure, give me a couple minutes to track d...
Name: Message, Length: 3900, dtype: object

In [69]:
print(X_train_features)

  (0, 6122)	0.6857236504415948
  (0, 2072)	0.5044299137477102
  (0, 4396)	0.5247223430934985
  (1, 4148)	0.23010657588231953
  (1, 2844)	0.20976833563508337
  (1, 1173)	0.36828271525842643
  (1, 6303)	0.30351446962052625
  (1, 4432)	0.33039572032275827
  (1, 3658)	0.3578573562947235
  (1, 694)	0.2980115975038081
  (1, 3774)	0.2178955060552201
  (1, 1975)	0.3578573562947235
  (1, 3653)	0.3006820622273809
  (1, 2245)	0.28863617965566696
  (2, 6920)	0.42645357157017155
  (2, 3795)	0.33000981668221346
  (2, 1060)	0.3886496555700778
  (2, 1956)	0.30559883321085796
  (2, 2988)	0.3746252182885083
  (2, 2643)	0.44515857288737554
  (2, 3062)	0.35536102960369936
  (3, 2776)	0.20633369158374912
  (3, 2829)	0.39256816880140977
  (3, 2827)	0.21581407102588995
  (3, 3440)	0.22210132241331146
  :	:
  (3897, 3776)	0.7683170131352907
  (3897, 2542)	0.2117044879874076
  (3897, 6787)	0.3093121555818932
  (3897, 2267)	0.1724540185802377
  (3897, 1376)	0.17018775108545456
  (3897, 6860)	0.16911920054492532
  (3898, 2167)	0.38762277720273236
  (3898, 4709)	0.3105692045310759
  (3898, 5234)	0.356292947949602
  (3898, 6263)	0.24894865820876688
  (3898, 6307)	0.3066363434293938
  (3898, 6945)	0.28830956816231584
  (3898, 3973)	0.23700916833547203
  (3898, 4411)	0.29089309356097465
  (3898, 6670)	0.2936332894433414
  (3898, 4283)	0.22380478043391996
  (3898, 2868)	0.18899635912189935
  (3898, 6254)	0.20293914319997497
  (3898, 3548)	0.18226862765520052
  (3899, 6655)	0.5222443407280873
  (3899, 4036)	0.37092058942380707
  (3899, 6315)	0.4553419752953969
  (3899, 6932)	0.30573375031903555
  (3899, 5984)	0.32999198926112777
  (3899, 1834)	0.4242341468958015

In [70]:
model=LogisticRegression()

In [71]:
model.fit(X_train_features,y_train)

LogisticRegression()

In [78]:
from sklearn.naive_bayes import MultinomialNB
classifier= MultinomialNB()

In [79]:
classifier.fit(X_train_features,y_train)

MultinomialNB()

In [72]:
preduction_traning_data=model.predict(X_train_features)
accuracy_traning_data=accuracy_score(y_train,preduction_traning_data)
print('Your data accuracy is : ',accuracy_traning_data)

Your data accuracy is :  0.9658974358974359

In [91]:
#test data accuracy
model_test_data=model.predict(X_test_features)
accuracy_test_data=accuracy_score(y_test,model_test_data)
print('Test data Accuracy is :',accuracy_test_data)

Test data Accuracy is : 0.9611244019138756

In [100]:

input_mail = ['07732584351 - Rodger Burns - MSG = We tried to call you re your reply to our sms for a free nokia mobile + free camcorder. Please call now 08000930705 for delivery tomorrow']


input_data_features = feature_extraction.transform(input_mail)


prediction = model.predict(input_data_features)
print(prediction)

['spam']